.body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

button:hover {
    box-shadow: 0 0 15px rgba(225,170,192,70);
    opacity: 90%;
}
