.load {
    display: none;
    height: 15vh;
    width: 30%;
    background-color: rgba(235,125,75,0.2);
    border-radius: 8px;
    position: absolute;
    left: 38%;
    top: 40%;
    z-index: 2;
    opacity: 100%;
}

.load--text {
    color: #3c4761;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 200;
    line-height: 2em;
}