body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    border: 1px solid red;
    margin: 0;
}

.titles {
    width: 30vw;
    height: 100%;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.search {
    width: 100%;
    height: 10%;
    background-color: grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.search-bar {
    width: 70%;
    height: 5vh;
}

.search-results {
    background-color: #d1ded1;
    height: 80%;
    width: 100%;
    overflow: scroll;
}

.search-footer {
    width: 100%;
    height: 10%;
    background-color: grey;
}

.footer-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.title-text {
    width: 5%;
}

label {
    width: 95%;
}

.select {
    width: 45vw;
    border: 1px solid yellow;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.list {
    width: 25vw;
    border: 1px solid orange;
    height: 100%;
}

.list--wish {
    height: 60%;
    border: 1px solid black;
}

.wishlist {
    height: 90%;
    overflow: scroll;
}

.list-done {
    height: 40%;
}

.list--wish h2 {
    margin: 0;
    height: 10%;
    width: 70%;
}

.list-done h3 {
    margin: 0;
    height: 10%;
    width: 70%;
}