.titles {
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.search {
    width: 100%;
    height: 13vh;
    background-color: rgb(135, 80, 156);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.search-bar {
    width: 18vw;
    height: 6vh;
    padding-left: 3%;
}

.search-btn {
    border-radius: 4px;
    background-color: rgb(235, 125, 75);
    width: 31%;
    height: 6vh;
    color: white;
    border: none;
    font-family: 'Montserrat';
    font-weight: 500;
}

.search-results {
    background-color: rgb(244 248 251);
    width: 100%;
    height: 76%;
    overflow: scroll;
    border-right: 2px solid rgb(220 203 226);
}

.search-footer {
    width: 100%;
    height: 11vh;
    background-color: rgb(60, 84, 153);
    border-radius: 4px;
}

.footer-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.back-btn, .fwd-btn {
    border-radius: 4px;
    background-color: rgb(48, 186, 231);
    width: 10vw;
    height: 6vh;
    border: none;
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
}

.title-item {
    width: 100%;
    height: 12vh;
    display: block;
    /*border-bottom: 1px solid #c7dcec;*/
}

.title-text {
    display: block;
    width: 0;
    height: 0;
}

.title-text:checked + label {
    color: white;
    background-color: rgb(100, 58, 121);
}

label {
    width: 100%;
    height: 12vh;
    display: block;
}

label p {
    padding-left: 2vh;
    padding-top: 3vh;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-weight: 100;
}

#found {
    width: 25%;
    word-wrap: break-word;
    font-family: 'Montserrat';
    font-weight: 100;
    color: white;
    font-size: 0.8em;
}
